# Installer logs
pip-log.txt
pip-delete-this-directory.txt




# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
**/**/migrations/
**/**/__pycache__/
media/


# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# Environments
.env
env/

# Pyre type checker
.pyre/

